[global.limits]
json = 5242880
forms = 5242880

[global.oauth.gitea]
provider = { auth_uri = "https://tulpa.dev/login/oauth/authorize", token_uri = "https://tulpa.dev/login/oauth/access_token" }
client_id = "..."
client_secret = "..."
redirect_uri = "http://localhost:8000/login/gitea/callback"